<!DOCTYPE html>
<html layout:decorator="fragments/main_layout" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Add new movie</title>
    <link href="../../../resources/css/datepicker3.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/datepicker3.css}"/>
    <link href="../../../resources/css/bootstrap-multiselect.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap-multiselect.css}"/>

    <script src="../../../resources/js/bootstrap-datepicker.js"
            th:src="@{/resources/js/bootstrap-datepicker.js}"></script>
    <script src="../../../resources/js/bootstrap-multiselect.js"
            th:src="@{/resources/js/bootstrap-multiselect.js}"></script>

    <script th:inline="javascript">
        // <![CDATA[
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready(function () {
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });

            $('#date-picker').datepicker({
                format: 'dd/mm/yyyy'
            });

        });

        $.getJSON("/category/getAll", function (result) {
            var genres = $("#genres");

            /*[+
             var submittedGenres = [[${movieCommandObject.genreIds}]];
             +]*/

            $.each(result, function (index, item) {
                if ($.inArray(item.id, submittedGenres) != -1) {
                    genres.append($("<option selected='selected'/>").val(item.id).text(item.genre));
                } else {
                    genres.append($("<option />").val(item.id).text(item.genre));
                }
            });

            genres.multiselect({
                enableCaseInsensitiveFiltering: true,
                maxHeight: 300,
                numberDisplayed: 5,
                nonSelectedText: 'Choose genre(s)'
            });
        });

        // ]]>
    </script>
</head>
<body>
<div layout:fragment="content">

    <form class="form-narrow form-horizontal" method="POST" enctype="multipart/form-data"
          th:action="@{/movie/save}" th:object="${movieCommandObject}">

        <!--/* Show general error task when form contains errors */-->
        <th:block th:if="${#fields.hasErrors('${movieCommandObject.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">
                Alert
            </div>
        </th:block>

        <fieldset>
            <legend>Add New Movie</legend>
            <div class="form-group" th:classappend="${#fields.hasErrors('title')}? 'has-error'">
                <label for="title" class="control-label" th:text="#{label.movie.title}"></label>
                <input type="text" class="form-control" id="title" th:field="*{title}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('title')}"
                          th:errors="*{title}">
                    </span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
                <label for="description" class="control-label"
                       th:text="#{label.movie.description}">
                </label>
                    <textarea class="form-control" id="description"
                              th:field="*{description}"></textarea>
                    <span class="help-block" th:if="${#fields.hasErrors('description')}"
                          th:errors="*{description}"></span>
            </div>
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group" th:classappend="${#fields.hasErrors('releaseDate')} ? 'has-error'">
                        <label for="date-picker" class="control-label" th:text="#{label.movie.releaseDate}"></label>
                        <input th:field="*{releaseDate}" name="releaseDate" id="date-picker"
                               type="text" class="form-control"/>
                         <span class="help-block" th:if="${#fields.hasErrors('releaseDate')}"
                               th:errors="*{releaseDate}"></span>
                    </div>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('genreIds')} ? 'has-error'">
                <label for="genres" class="control-label" th:text="#{label.movie.genres}"></label>
                <select id="genres" name="genreIds" multiple="multiple" th:field="*{genreIds}"></select>
                         <span class="help-block" th:if="${#fields.hasErrors('genreIds')}"
                               th:errors="*{genreIds}"></span>
            </div>
            <div class="form-group" th:classappend="${posterErrMsg != null} ? 'has-error'">
                <label for="poster" class="control-label"
                       th:text="#{label.movie.poster}">
                </label>

                <div class="input-group">
                    <input type="text" class="form-control" readonly="readonly"/>
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input id="poster" name="poster" type="file"/>
                    </span>
                </span>
                </div>
                <span class="help-block" th:if="${posterErrMsg != null}"
                      th:text="${posterErrMsg}"></span>

                <span class="help-block" th:if="${posterErrMsg == null}">
                    Choose image file (.jpg, .gif, .png, .bmp and max 2MB) to be uploaded as a poster.
                </span>
            </div>
            <div class="col-lg-6 col-sm-6 col-12">
            </div>
            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-success">Add Movie</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
            <div class="form-group">
                <div class="text-right">
                    <a class="btn btn-default" href="#" th:href="@{/admin}">
                        Cancel
                    </a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>