<!DOCTYPE html>
<html layout:decorator="fragments/main_layout">
<head>
    <title>View movies</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col-xs-6 col-md-4 top3" th:each="movie : ${movies}">
        <div class="thumbnail">
            <img data-src="holder.js/100%x180" alt="..."/>

            <div class="caption">

                <h3 th:text="${movie.title}"></h3>

                <p th:text="${movie.description}"></p>

                <p>
                    <a href="#" th:href="@{/movie/edit(movieId=${movie.id})}"
                       class="btn btn-primary" role="button">Edit
                    </a>
                    <a href="#" class="btn btn-danger" role="button">Delete</a>
                </p>

                <p>
                    <a class="btn btn-default" href="#" th:href="@{/movie/view(id=${movie.id})}">
                        View details &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>