<!DOCTYPE html>
<html layout:decorator="fragments/main_layout">
<head>
    <title>View movies</title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="fragments/pagination :: pagination
    (page=${searchFilter.page}, noPages=${searchFilter.noPages}, title=${searchFilter.title})">
    </div>

    <div class="col-sm-6 col-md-4 top3" th:each="movie : ${movies}">
        <div class="thumbnail">
            <div>
                <img class="thumbnail-image"
                     src="" onError="this.src='/resources/images/default_poster.jpg'"
                     width="160"
                     th:attr="src=${movie.posterFile}"/>
                <!--<img data-src="holder.js/100%x180" alt="..."/>-->
                <div th:inline="text" class="display-inline">
                    <legend><strong>
                        [[${movie.title}]]
                    </strong></legend>
                    <!--<p th:inline="text" style="display:inline-block;">-->
                    <h4><em>Rate</em></h4>
                    <!--<br/>-->
                    [[${movie.rate}]]
                    <span class="text-muted">/5</span> <span class="glyphicon glyphicon-star"></span>
                    ([[${movie.numberOfRatings}]] votes)
                    <h4><em>Release date</em></h4>
                    [[${#dates.format(movie.releaseDate, 'MMMM dd, yyyy')}]]
                </div>
            </div>
            <div class="caption">

                <!--<h3 th:text="${movie.title}"></h3>-->

                <p th:text="${movie.description}"></p>

                <p>
                    <a href="#" th:href="@{/movie/edit(movieId=${movie.id})}"
                       class="btn btn-primary" role="button">Edit
                    </a>
                    <a href="#" class="btn btn-danger" role="button">Delete</a>
                </p>

                <p>
                    <a class="btn btn-default" href="#" th:href="@{/movie/view(id=${movie.id})}">
                        View details &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>