<!DOCTYPE html>
<html layout:decorator="fragments/main_layout">
<head>
    <title>View movie</title>

    <link href="../../../resources/css/star-rating.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/star-rating.css}"/>

    <script src="../../../resources/js/bootbox.min.js"
            th:src="@{/resources/js/bootbox.min.js}"></script>
    <script src="../../../resources/js/star-rating.js"
            th:src="@{/resources/js/star-rating.js}"></script>

    <script th:inline="javascript">
        // <![CDATA[
        $(document).ready(function () {
            var ratingInput = $('#rating-input'),
                    ratingForm = $('#rating-form')[0];

            /*[+
             var movieId = [[${movie.id}]];
             +]*/

            ratingInput.rating({
                min: 0,
                max: 5,
                step: 0.5
            });

            ratingInput.on('rating.change', function () {
                bootbox.confirm("Are you sure do you want to rate this movie with "
                        + ratingInput.val() + " stars?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "rate",
                                    method: "POST",
                                    data: {
                                        movieId: movieId,
                                        stars: ratingInput.val()
                                    },
                                    success: function (result) {
                                        if (result.success) {
                                            confirmationBox
                                                    .show("You have rated this movie with "
                                                    + result.userRate + " stars");

                                            $('#movie-rate-info')
                                                    .html("Rate: <br/>" +
                                                    result.movieRate +
                                                    "<span class=\"text-muted\"> /5</span>" +
                                                    " <span class=\"glyphicon glyphicon-star\"></span>" +
                                                    " (" + result.ratings + " votes)");
                                            $("#user-rate-info")
                                                    .html("<p class=\"top1\"> You have rated this movie with " +
                                                    "<strong>" + result.userRate + "</strong>" +
                                                    " <span class=\"glyphicon glyphicon-star\"></span>" +
                                                    " on <strong>" + result.ratedAt + "</strong></p>");
                                        } else {
                                            ratingForm.reset();
                                            confirmationBox
                                                    .show("You have already rated this movie!", true);
                                        }
                                    },
                                    error: function () {
                                        ratingForm.reset();
                                        confirmationBox
                                                .show("An error occurred while rating the movie", true);
                                    }
                                });
                            } else {
                                ratingForm.reset();
                            }
                        });
            });

            var confirmationBox = (function () {
                var elem = $("#confirmation-box"),
                        hideHandler,
                        box = {};
                box.init = function (options) {
                    elem = $(options.selector);
                };
                box.show = function (text, errorOccurred) {
                    clearTimeout(hideHandler);

                    if (errorOccurred) {
                        elem.attr("class", "bb-alert alert alert-danger");
                    }
                    elem.find("span").html(text);
                    elem.removeClass("hidden").delay(200).fadeIn().delay(2000).fadeOut();
                    $('html,body').animate({scrollTop: 0}, 'slow');
                };
                return box;
            }());
        });
        // ]]>
    </script>
</head>
<body>
<div layout:fragment="content">

    <p id="movie-rate-info" class="lead" th:inline="text">
        Rate:
        <br/>
        [[${movie.rate}]]
        <span class="text-muted">/5</span> <span class="glyphicon glyphicon-star"></span>
        ([[${movie.numberOfRatings}]] votes)
    </p>

    <p>
        <a class="btn btn-default" href="javascript:history.back();">
            &laquo; Back to movies
        </a>
    </p>

    <div id="confirmation-box" class="bb-alert alert alert-info hidden">
        <span>message to be replaced</span>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image" src=""
                 onError="this.src='/resources/images/default_poster.jpg'"
                 th:attr="src=${movie.posterFile}"/>
        </div>

        <div class="col-md-7">
            <legend><h2 class="featurette-heading" th:text="${movie.title}"></h2></legend>

            <p>
                <span><strong>Release Date:</strong></span>
                <span th:text="${#dates.format(movie.releaseDate, 'MMMM dd, yyyy')}"></span>
            </p>

            <p>
                <span><strong>Genre:</strong></span>
                <span th:each="genre : ${movie.genreNames}" th:text="${genre}+'; '"></span>
            </p>

            <p>
                <span><strong>Description:</strong></span>
                <span th:text="${movie.description}"></span>
            </p>

        </div>
    </div>

    <div id="user-rate-info" th:switch="${movieAccount}">
        <form th:case="null" id="rating-form">
            <input id="rating-input" min="0" max="5" step="0.5" type="number" data-star-captions="{}"/>
        </form>

        <p th:case="*" th:inline="text" class="top1">You have rated this movie with
            <strong> [[${movieAccount.stars}]] </strong>
            <span class="glyphicon glyphicon-star"></span>
            on <strong>
                [[${#dates.format(movieAccount.ratedAt, 'MMMM dd, yyyy HH:mm')}]]
            </strong>
        </p>
    </div>

</div>
</body>
</html>