<!DOCTYPE html>
<html layout:decorator="fragments/main_layout">
<head>
    <title>View movie</title>
    <script th:inline="javascript">
        // <![CDATA[
        $(document).ready(function () {
            var ratingInput = $('#rating-input');

            /*[+
             var id = [[${id}]];
             +]*/

            ratingInput.rating({
                min: 0,
                max: 5,
                step: 0.5
            });

            ratingInput.on('rating.change', function () {
                bootbox.confirm("Are you sure do you want to rate this movie with "
                        + ratingInput.val() + " stars?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "rate",
                                    method: "POST",
                                    data: {
                                        id: id,
                                        stars: ratingInput.val()
                                    },
                                    success: function (result) {
                                        console.log(result);
                                        confirmationBox.
                                                show("You have rated this movie with "
                                                + ratingInput.val() + " stars");
                                    },
                                    error: function () {
                                        alert('fail');
                                        $('#rating-form')[0].reset();
                                        confirmationBox.
                                                show("An error occured while rating the movie", true);
                                    }
                                });
                            } else {
                                $('#rating-form')[0].reset();
                            }
                        });
            });

            var confirmationBox = (function () {
                var elem = $("#confirmation-box"),
                        hideHandler,
                        box = {};
                box.init = function (options) {
                    elem = $(options.selector);
                };
                box.show = function (text, errorOccurred) {
                    clearTimeout(hideHandler);

                    console.log(elem);
                    if (errorOccurred) {
                        elem.attr("class", "bb-alert alert alert-danger");
                    }
                    elem.find("span").html(text);
                    elem.delay(200).fadeIn().delay(2000).fadeOut();
                };
                return box;
            }());
        });
        // ]]>
    </script>
</head>
<body>
<div layout:fragment="content">
    <p th:text="${id}"></p>

    <div id="confirmation-box" class="bb-alert alert alert-info" style="display: none">
        <span>message to be replaced</span>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto"
                 alt="Generic placeholder image"/>
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span>
            </h2>

            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
    </div>

    <form id="rating-form">
        <input id="rating-input" min="0" max="5" step="0.5" type="number" data-star-captions="{}"/>
    </form>
</div>
</body>
</html>