<!DOCTYPE html>
<html layout:decorator="fragments/main_layout">

<head>
    <title th:text="#{view.index.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <!--/* Handle the flash task */-->
    <th:block th:if="${message != null}">
        <!--/* The message code is returned from the @Controller */-->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">
            &nbsp;</div>
    </th:block>
    <h1>Welcome back</h1>

    <p class="lead">
        Hello, <em><span th:text="${#authentication.name}"></span></em>.
    </p>

    <p>
        Please proceed to
        <a href="#" th:href="@{/movie/index}">movies page </a>
        in order to check out what's new, or rate your favorite movies.
    </p>
</div>
</body>
</html>