<!DOCTYPE html>
<html layout:decorator="fragments/main_layout">

<head>
    <title>Welcome</title>
    <script>
        /* Fill in modal with content loaded with Ajax */
        $(document).ready(function () {
            $('#signUpModal').on('show.bs.modal', function (e) {
                $("#signUpModalBody").text("");
                $.ajax({
                    url: "signup",
                    cache: false
                }).done(function (html) {
                    $("#signUpModalBody").append(html);
                });
            })
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <!-- Modal -->
    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="signUpModalLabel">Sign Up</h4>
                </div>
                <div class="modal-body" id="signUpModalBody"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="hero-unit">
        <h1>Welcome</h1>

        <p>
            Welcome to Movie Rater application. By going to the
            <a href="#" th:href="@{/movie/index}">movies page </a>
            you can search for your favorite movies, check details about them and if you
            <a href="#" th:href="@{/signin}">login</a>
            you can rate them!

        </p>

        <p>
            If you don't have an account yet, you can quickly create one by clicking the sign up button bellow.
        </p>

        <p>
            <a href="#" class="btn btn-large btn-success" data-toggle="modal" data-target="#signUpModal">Sign up</a>
        </p>
    </div>
</div>
</body>
</html>