<!DOCTYPE html>
<html layout:decorator="fragments/main_layout">
<head lang="en">
    <title>Admin Page</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Admin Page</h1>

    <p th:text="#{message.welcome.admin.page}"></p>

    <p>If you shouldn't be authorized to access this page, please
        <a href="/logout" th:href="@{/logout}">logout</a>.
    </p>
    <a class="btn btn-success" href="#" th:href="@{/movie/add}">
        <span th:text="#{add.new.movie}"></span>
    </a>
</div>
</body>
</html>